<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

    <%@idparam="/posts/" + post.id.to_s %>
  <p>
    <a href = "<%= @idparam %>"><div class = "image"><%= image_tag post.image_url%></div></a>
  </p>

</div>
